.container{
  font-family: arial,sans-serif;
}

.nav-a{
  color: #4285f4;
  font-weight: normal;
  display: block;
  text-align: center;
  cursor: pointer;
  .nav-img {
    background: url(/assets/images/google_nav.png) no-repeat;
    float: right;
    display: block;
    overflow: hidden;
  }
  .nav-pv{
    background-position: 0 0;
    width: 53px;
    height: 40px;
  }
  .nav-page{
    background-position: -74px 0;
    width: 20px;
    height: 40px;
  }

  .nav-nxt{
    background-position: -96px 0;
    width: 71px;
    height: 40px;
  }
  .nav-text{
    display: block;
    clear: right;
    font-size: small;
    color: #4285f4;
  }
  .nav-pv-text{
    margin-right: 35px;
  }
  .nav-nxt-text{
    margin-left: 44px;
  }
}
.active{
  .nav-page{
    background-position: -53px 0;
  }
}

.logo{
  height: 92px;
  width: 272px;
  margin-top: 190px;
}

.searchbar{
  background: #fff;
  display: flex;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 584px;
  color: #222;
}

.searchbar:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-btn{
  height: 36px;
  line-height: 27px;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}

.search-btn:hover, .bigSearchBar:hover{
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

.content-center{
  text-align: -webkit-center;
}

.firstRow{
  margin-top: 20px;
}

.result-count{
  line-height: 43px;
  color: #808080;
  font-size: small;
}

.bigSearchBar{
  background: #fff;
  display: flex;
  background-image: -webkit-linear-gradient(top,#fff,#fff);
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 24px;
  color: #757575;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 47px;
  width: 630px;
  .innerSearchBar{
    height: 44px;
    width: 522px;
    border: none;
  }
  .innerSearchButton{
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-color: #fff;
    border: none;
    background: #fff;
    cursor: pointer;
  }
}



.bigSearchBar:hover{
  background-image: -webkit-linear-gradient(top,#fff,#fff);
}

.innerSearchBar:focus{
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.0);
}

.slogo{
  cursor: pointer;
  height: 30px;
  width: 92px;
  margin: 20px 0px 0px 10px;
}

.signbtn{
  margin: 20px 15px 0px 0px;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}

.listItems{
  margin-left: 50px;
}

.no-match-row{
  margin-top: 50px;
}

.result-title{
  color: #1a0dab;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.result-url{
  color: #266622;
  font-size: 14px;
  padding-top: 1px;
  cursor: pointer;
  font-style: normal;
}

//


.nav-table{
  margin-left: 100px;
}
